# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
db_backup.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
.DS_Store

# Log files
*.log

# Python cache
.pytest_cache/